<!DOCTYPE html>
<html>
<head>
    <title>Dijkstra's Algorithm Visualizer</title>
    <style>
        canvas {
            border: 1px solid black;
        }
        button{
            margin: 5px;
        }
        .block{
            display: inline-block;
            margin: 2px;
        }
        .trace{
            vertical-align: top;
        }
    </style>
</head>
<body>
    <button id="clearButton">Clear</button>
    <button id="connectButton">Connect</button>
    <button id="solveButton">Solve</button>
    <hr>
    <br>
    <div>
    <canvas class="block" id="canvas" width="800" height="600"></canvas>
    <div class="block trace">
        <p id="trace">Tracing: </p>
    </div>
    </div>
    <div>
        <h1>Text input: </h1>
        <textarea id="text-input">

        </textarea>
        <button id="text-solve">Solve</button>
    </div>
    <script src="engine.js"></script>
</body>
</html>