<!DOCTYPE html>
<html>
<head>
    <title>Dijkstra's Algorithm Visualizer</title>
    <style>
        canvas {
            border: 1px solid black;
        }
        button{
            margin: 5px;
        }
    </style>
</head>
<body>
    <button id="clearButton">Clear</button>
    <button id="connectButton">Connect</button>
    <button id="solveButton">Solve</button>
    <hr>
    <br>
    <canvas id="canvas" width="800" height="600"></canvas>
    <script src="engine.js"></script>
</body>
</html>